<nav>
  <ul class="nav-list">
    <li>
      <a href="/" class="nav-links">Task List</a>
    </li>
    <li>
      <a href="/add" class="nav-links">Add New Task</a>
    </li>
    <li>
      <a href="/update" class="nav-links">Update Task</a>
    </li>
  </ul>
</nav>
<hr />
