<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("navbar") %>
    <h1 class="Add-heading">Update Task List</h1>
    <form action="/update/<%= result._id%>" method="post" class="container">
        <input type="text" class="input" name = "title" placeholder="Enter Title" value = "<%= result.title%>">
        <textarea class="input" placeholder="Enter task description" name="description"><%= result.description %></textarea>

        <button class="add_newTask">Update Task</button>
    </form>
</body>
</html>